body {
  font-family: 'Indie Flower', cursive;
  text-align: center;
}

html {
  background: url("https://images.photowall.com/products/60742/palm-trees-on-white-beach.jpg?h=699&q=85") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.main-section {
  display: inline-block;
  background-color: rgba(252, 252, 241, 0.8);
  width: 70%;
  padding: 0 1rem 2rem 1rem;
}

.options {
  display: flex;
  justify-content: center;
}

h1 {
  font-size: 2rem;
}

.continent-select {
  margin: 0.5rem;
}

.country-select {
  margin: 0.5rem;
}

hr {
  width: 60%;
}

.country-block {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.country-info {
  display: flex;
  flex-direction: column;
}

.country-info > h3 {
  font-size: 2rem;
  margin: 0.5rem;
}

.country-info > p {
  margin: 0.5rem;
}

.flag {
  display: flex;
  justify-content: center;
  align-items: center;
  /* max-width: 40%; */
}

.break {
  flex-basis: 100%;
  height: 1rem;
}


img {
  max-width: 50%;
}

.button {
	padding: 10px;
	background: #000;
	color: #fff;
	cursor: pointer;
	border: 1px solid #000;
}

.travelled-list {
  list-style-type: none;
}

